$orange-lightest: #ffefd5;
$orange-lighter: #fcd19c;
$orange-light: #fab463;
$orange-default: #f8972b;
$orange-dark: #f78b12;
$orange-darker: #d9780d;
$orange-darkest: #cc6600;

$blue-lightest: #e2f1f8;
$blue-lighter: #b6dbee;
$blue-light: #0070a4;
$blue-default: #00679b;
$blue-dark: #004a78;
$blue-darker: #00233b;
$blue-darkest: #00182d;

$gray-lightest: #aaaaaa;
$gray-lighter: #808080;
$gray-light: #646464;
$gray-default: #555555;
$gray-dark: #414141;
$gray-darker: #373737;
$gray-darkest: #333333;

$silver-lightest: #f8f8f8;
$silver-lighter: #f5f5f5;
$silver-light: #eeeeee;
$silver-default: #dadada;
$silver-dark: #cccccc;
$silver-darker: #c0c0c0;
$silver-darkest: #b3b3b3;

$red-lightest: #ffb3b3;
$red-lighter: #ee7d75;
$red-light: #de483a;
$red-default: #ce1300;
$red-dark: #b71307;
$red-darker: #a0140e;
$red-darkest: #891515;

$green-lightest: #e0f3e0;
$green-lighter: #b1d2a7;
$green-light: #82b16f;
$green-default: #539137;
$green-dark: #427b2e;
$green-darker: #316525;
$green-darkest: #27571f;

$yellow-lightest: #ffffcc;
$yellow-lighter: #fff5ad;
$yellow-light: #ffec8e;
$yellow-default: #ffe36f;
$yellow-dark: #ffd950;
$yellow-darker: #ffd031;
$yellow-darkest: #e6c10b;

$purple-lightest: #ede7f6;
$purple-lighter: #d1c4e9;
$purple-light: #b39ddb;
$purple-default: #7e57c2;
$purple-dark: #673ab7;
$purple-darker: #5e35b1;
$purple-darkest: #512da8;

$pink-lightest: #fce4ec;
$pink-lighter: #f8bbd0;
$pink-light: #f48fb1;
$pink-default: #ec407a;
$pink-dark: #e91e63;
$pink-darker: #d81b60;
$pink-darkest: #c2185b;

$black: #303030;
$white: #ffffff;
