$desktop-nav-width: 300px;
$desktop-page-section-min-width: 800px;
$desktop-main-page-side-padding: 40px;
// Desktop nav width + main page padding + page section minimum width
$desktop-viewport-min-width: calc(
    $desktop-nav-width + ($desktop-main-page-side-padding * 2) + $desktop-page-section-min-width
);

$mobile-nav-height: 56px;
// Main page padding + page section minimum width
$mobile-mini-viewport-min-width: calc(($desktop-main-page-side-padding * 2) + $desktop-page-section-min-width);
