$page-section-title-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$page-section-title-font-size: 40px;

$nav-title-font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$nav-title-font-size: 40px;
$nav-item-font-size: 20px;
$mobile-nav-title-font-size: 30px;
