@use 'src/constants/colors' as colors;
@use 'src/constants/deviceDimensions' as dimensions;

html {
    scroll-behavior: smooth;

    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;

        .main-page {
            margin-left: dimensions.$nav-width;
            padding: dimensions.$main-page-vertical-padding dimensions.$main-page-horizontal-padding;
            overflow-y: auto;
            background-color: colors.$website-background;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: dimensions.$desktop-viewport-min-width) {
                margin-left: 0;
            }

            @media (max-width: dimensions.$narrow-viewport-min-width) {
                padding: dimensions.$mini-main-page-vertical-padding dimensions.$mini-main-page-horizontal-padding;
            }
        }
    }
}
