@use 'src/constants/colors' as colors;
@use 'src/constants/fonts' as fonts;
@use 'src/constants/zIndex' as zIndex;
@use 'src/constants/deviceDimensions' as dimensions;

.mobile-nav {
    background-color: colors.$panel-background;
    z-index: zIndex.$nav-bar;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px colors.$black;

    button {
        position: fixed;
        height: dimensions.$mobile-nav-height;
        width: dimensions.$mobile-nav-height;
        background-color: colors.$panel-background;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: colors.$button-selected;
        }

        &:active {
            background-color: colors.$button-active;
        }

        svg {
            color: colors.$white;
        }
    }

    .nav-title {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: fonts.$nav-title-font-size;
        font-family: fonts.$nav-title-font-family;
        color: colors.$white;

        h1 {
            margin: 0;
            font-weight: normal;
        }
    }
}

.offcanvas {
    .offcanvas-header {
        background-color: colors.$panel-background;

        button {
            color: colors.$white;
        }
    }

    .offcanvas-body {
        background-color: colors.$panel-background;
        padding: 0;

        .navigation-item {
            box-sizing: border-box;
            padding: 20px 0 20px 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: colors.$white;
            text-decoration: none;
            outline: none;
            font-size: fonts.$nav-item-font-size;
            gap: 8px;
            transition: background-color 0.5s;

            &:hover,
            &:focus,
            &.scrollspy-active {
                background-color: colors.$button-selected;
            }

            &:active {
                background-color: colors.$button-active;
            }
        }
    }
}
